@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
}

article {
  font-family: "Atkinson", sans-serif;
}

/* -- row full -- */
.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 20px;
  left: 50%;
  height: auto;
  scroll-behavior: smooth;
}


h3 span {
  margin-top: 0px;
  display: table-cell;
  font-weight: normal;
  text-overflow: ellipsis;
}

@keyframes pulse {
  50% {
    transform: skew(0deg, 180deg) scale(4) rotate(0.6turn);
  }
}
