---
import HtmlHead from "../components/HtmlHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import IntroLogo from "../components/IntroLogo.astro";
import IntroLinks from "../components/IntroLinks.astro";
import Carrusel from "../components/Carrusel.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <HtmlHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <IntroLogo/>

      <IntroLinks />

      <Carrusel />

    </main>
    <Footer />
  </body>
</html>
