---
import Cookie from "../components/CookieComponent";
import Kofi from "./KofiComponent";
import { Image } from "astro:assets";
import imgScrum from "../../public/PSM1.svg";

const today = new Date();
---

<footer class="border-t border-white/10 p-6 mt-10">
  <div class="max-w-6xl mx-auto flex flex-wrap justify-between items-center gap-4">
    <div class="text-sm">
      CORREO
      <a class="link link-hover text-primary ml-1" title="sergio@comovas.es" href="mailto:sergio@comovas.es">sergio@comovas.es</a>
      <span class="mx-2 opacity-30">|</span>
      <a href="/legal" class="link link-hover text-primary" title="Aviso Legal y Privacidad">Aviso Legal</a>
      <Kofi />
    </div>
    <div class="text-xs opacity-40 text-right">
      COMOVAS.ES &copy; {today.getFullYear()}
      <br />
      <Image class="z-10 inline" src={imgScrum} alt="Scrum Master" title="Professional Scrum Master PSMI" width="200" />
    </div>
  </div>
</footer>

<Cookie client:load />
