---
const today = new Date();
---

<!--FOOTER-->
<footer>
  <span style="float:right">
		<h4>
      CORREO <a href="mailto:sergio@comovas.es">sergio@comovas.es</a>
      <br /><script
        type="text/javascript"
        src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script><script
        type="text/javascript"
      >
        kofiwidget2.init("PROPINAS", "#29abe0", "R6R52N4QJ/donate");
        kofiwidget2.draw();
      </script>
    </h4>
  </span>
<h4 style="margin-bottom: 0; opacity:0.5">COMOVAS.ES &copy; {today.getFullYear()}</h4>
  <img style="z-index: 999999;" src="PSM1.svg" alt="" width="250" />
</footer>
<!--FIN DE FOOTER-->

<script src="../scripts/imgfluid.js"></script>
<script src="../scripts/cookies.js"></script>
