---
// GlobeBackgroundCyber.astro - Versión simplificada sin mensaje de bienvenida
const { mensaje = "¡Hola!" } = Astro.props;

const defaultWidth = Math.min(
  768,
  typeof window !== "undefined" ? window.innerWidth - 10 : 768
);
---

<div
  data-mensaje={mensaje}
  id="cyberContainer"
  class="relative flex items-center justify-center -mt-20"
>
  <section
    id="img-bg"
    class="absolute opacity-30 rounded-full z-[-1] animate-pulse h-[100vw] w-[100vw] bg-[linear-gradient(-45deg,var(--color-link)_50%,var(--color-secondary)_50%)] blur-[80px]"
  >
  </section>

  <div
    id="cyberGlobe"
    class="w-full p-1 font-mono overflow-hidden flex bg-transparent blur-[0.7px] text-[2vw] tracking-[0.5vw] after:content-[''] after:inline-block blur-[1px] after:w-full"
  >
  </div>
</div>

<style>
  @keyframes pulseDiagonal {
    0% {
      transform: translate(-50%, -50%) rotate(-10deg) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) rotate(-10deg) scale(1.2);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) rotate(-10deg) scale(1);
      opacity: 1;
    }
  }
</style>

<style>
  .img-bg {
    position: absolute;
    opacity: 0.4;
    background-image: linear-gradient(
      -45deg,
      var(--color-link) 50%,
      var(--color-secondary) 50%
    );
    border-radius: 50%;
    filter: blur(80px);
    z-index: -1;
    animation: pulse 10s cubic-bezier(0, 0, 0, 0.5) infinite;
  }

  @keyframes pulse {
    50% {
      transform: scale(1);
    }
  }
</style>